*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header{
    background-color: salmon;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    margin: auto 0;
}

h1{
    margin-top: 2rem;
}

.wpp{
    width: 75px;
}